@media screen and (max-width: 800px) {
    .inactive {
        display: none;
        transition: .3s;
    }
    #contact_container {
        background-color: rgba(255, 156, 96, .95);
        width: 85%;
        margin: auto;
        text-align: left;
        overflow: auto;
        border-radius: 1rem;
        padding: 3%;
    }
    #tab_buttons {
        margin: 2%;
        font-family: "Trebuchet MS", sans-serif;
    }
    #like_this {
        font-size: 1.5rem;
        font-family: "Trebuchet MS", sans-serif;
        margin: 2%;
        color: white;
    }
    #contact_me {
        font-size: 2rem;
        margin: 2%;
        color: white;
    }
    #github_icon {
        width: 6rem;
        height: 6rem;
        background-image: url("../images/GitHub-Mark.png");
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        margin: 2%;
        border-radius: 1rem;
    }
    #linkedin_icon {
        width: 6rem;
        height: 6rem;
        background-image: url("../images/linkedin.png");
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        margin: 2%;
        border-radius: 1rem;
    }
    #email_icon {
        width: 6rem;
        height: 6rem;
        background-image: url("../images/Mail.png");
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        margin: 2%;
    }
    #phone_icon {
        width: 6rem;
        height: 6rem;
        background-image: url("../images/Phone.png");
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        margin: 2%;
    }
    #tab_buttons {
        margin: 2%;
        font-family: "Trebuchet MS", sans-serif;
    }
    #content-container {
        display: inline-block;
        text-align: center;
    }
    .tab {
        margin: 2%;
        color: white;
        font-size: 1rem;
        font-family: "Trebuchet MS", sans-serif;
        transition: .2s;
    }
    .tab:hover {
        color: rgba(128, 144, 255, .85);
        transition: .2s;
    }
    .tab:active {
        color: rgba(51, 0, 102, 1);
        transition: .2s;
    }
    .content_body {
        float: left;
        margin: 2%;
        font-size: 1rem;
        background-color: rgba(102, 204, 153, 1);
        width: 85%;
        padding: 2%;
        border-radius: 1rem;
        color: white;
        transition: .2s;
    }
    .content_body:hover {
        background-color: rgba(153, 102, 204, 1);
        transition: .2s;
    }
}

@media screen and (min-width: 800px) {
    #contact_container {
        background-color: rgba(255, 156, 96, .95);
        width: 85rem;
        margin: auto;
        text-align: left;
        overflow: auto;
        border-radius: 1rem;
    }
    #like_this {
        font-size: 3rem;
        font-family: "Trebuchet MS", sans-serif;
        margin: 2%;
        color: white;
    }
    #contact_me {
        font-size: 4rem;
        margin: 2%;
        color: white;
    }
    #github_icon {
        width: 6rem;
        height: 6rem;
        background-image: url("../images/GitHub-Mark.png");
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        margin: 2%;
        border-radius: 1rem;
    }
    #linkedin_icon {
        width: 6rem;
        height: 6rem;
        background-image: url("../images/linkedin.png");
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        margin: 2%;
        border-radius: 1rem;
    }
    #email_icon {
        width: 6rem;
        height: 6rem;
        background-image: url("../images/Mail.png");
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        margin: 2%;
    }
    #phone_icon {
        width: 6rem;
        height: 6rem;
        background-image: url("../images/Phone.png");
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        margin: 2%;
    }
    #tab_buttons {
        margin: 2%;
        font-family: "Trebuchet MS", sans-serif;
    }
    #content-container {
        display: inline-block;
        text-align: center;
    }
    .tab {
        margin: 1%;
        color: white;
        font-size: 2rem;
        font-family: "Trebuchet MS", sans-serif;
        transition: .2s;
    }
    .tab:hover {
        color: rgba(128, 144, 255, .85);
        transition: .2s;
    }
    .tab:active {
        color: rgba(51, 0, 102, 1);
        transition: .2s;
    }
    .content_body {
        float: left;
        margin: 2%;
        font-size: 2rem;
        background-color: rgba(102, 204, 153, 1);
        width: 70%;
        padding: 2%;
        border-radius: 1rem;
        color: white;
        transition: .2s;
    }
    .content_body:hover {
        background-color: rgba(153, 102, 204, 1);
        transition: .2s;
    }
    .inactive {
        display: none;
        transition: .3s;
    }
}