/* Desktop css, mobile to come later */


/* @media screen and (min-width: 800px){ */


    body{
        display: block;
        text-align: center;
    }

    #wrapper{
        display: inline-block;
        overflow:auto;
        background-attachment: fixed;
        position: relative;
        width: 90rem;
        /* max-width: 80%; */
        height: 65vh;
        background-color: rgba(255, 156, 96, .95);
        margin: auto;
        border-radius: 1rem;
    }

    #lotus-tiles{
        background: url("../images/lotus-tiles-transparent.png");
        z-index: 3;
        height: 40rem;
        width: 15rem;
        background-size: 70%;
        background-repeat: no-repeat;
        left: 0;
        float: left;
    }


    #github-repos-container{
        float: left;
        text-align: left;
        display: inline-block;
        width: 80%;
        height: 90%;
        overflow: auto;
        margin-top: 2%;
    }


    #repo_table{
        float: left;
        left: 0;
    }



    .repo{
        background-color: rgba(102, 204, 153, 1);
        margin: 2%;
        border-radius: .5rem;
        padding: 1%;
        transition: .2s;

    }


    .repo:hover{
        transform: scale(1.02);
        background-color: rgba(153, 102, 204, 1);
        transition: .2s;
    }

    .repo_title{
        color: white;
        font-size: 2rem;
        left: 0;
    }


    .repo_description{
        color: white;
        font-size: 1.5rem;
        left: 0;
        width: 80%;
        font-family: "Trebuchet MS", sans-serif;
    }



    .repo_info:after{
        content: "";
        display: table;
        clear: both;
    }
    


    .lotus{
        margin: 1%;
        float:left;
        left: 0;
    }



    #lotus1{
        background: url("../images/lotus-1.png");
        width: 3rem;
        height: 3rem;
        background-size: cover;
        background-repeat: no-repeat;
    }


    #lotus2{
        background: url("../images/lotus-2.png");
        width: 3rem;
        height: 3rem;
        background-size: cover;
        background-repeat: no-repeat;
    }



    #lotus3{
        background: url("../images/lotus-3.png");
        width: 3rem;
        height: 3rem;
        background-size: cover;
        background-repeat: no-repeat;
        }


    #lotus4{
        background: url("../images/lotus-4.png");
        width: 3rem;
        height: 3rem;
        background-size: cover;
        background-repeat: no-repeat;
    }


    #lotus5{
        background: url("../images/lotus-5.png");
        width: 3rem;
        height: 3rem;
        background-size: cover;
        background-repeat: no-repeat;;
    }





